{% extends 'layout.html' %}

{% block content %}
<form action="" method="post" novalidate>
  <div>{{ form.csrf_token }}</div>
  <div>
    {{ form.name.label() }}
    {{ form.name() }}
    {% if form.name.errors %}
      <ul>
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}
