{% extends 'layout.html' %}

{% block content %}
<a href="{{ url_for('backend.regions.create') }}" class="btn btn-primary">Добавить регион</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Регион</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Дата изменения</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <th scope="row">
        {{ item.id }}
      </th>
      <td>
        {{ item.name }}
      </td>
      <td>
        {{ item.created_at }}
      </td>
      <td>
        {{ item.updated_at }}
      </td>
      <td>
        <a href="{{ url_for('backend.regions.update', id=item.id) }}">Изменить</a> |
        <a href="{{ url_for('backend.regions.delete', id=item.id) }}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

